.installments--summary {
    display: none!important;
}

.sellingPriceValue--summary {
    font-weight: 800;
    color: red;
    font-size: .8em;
    padding: .5rem 0 .3rem 0;
    padding-left: 0;
}

.savings--summary {
    display: none !important;
}