.slide {
    margin: 0 .5rem;
    overflow: visible;
}

.container--vitrinaHome {
    padding-bottom: 0 !important;
}
.title--vitrinaHome,
.title--pdpProductosRelacionados,
.title--ProductosNotFound {
    font-size: 19px;
    color: #402117;
    font-weight: 500;
    text-align: center;
    position: relative;
    display: inline-block;
    width: fit-content;
    transform: translateX(-50%);
    left: 50%;
    z-index: 1;
    padding-left: 3.7rem;
}

.arrow {
    top: 34%;
}

.container--vitrinaHome {
    display: block;
}

.caretIcon--vitrinaHome {
    font-size: 1.7em;
    color: #402117;
    font-weight: 800;
    text-align: left; 
    position: relative;
    display: flex;
    width: fit-content;
    overflow: visible;
    z-index: 1;
    margin: 0 auto;
    padding-left: 3.7rem;
    justify-content: center;
    align-items: center;
}

.title--vitrinaHome::after {
    content: 'Recomendados';
    position: absolute;
    top: 56%;
    left: 102%;
    transform: translateY(-50%);
    font-weight: 700;
    font-size: 19px;
}

 
.title--vitrinaHome::before,
.title--pdpProductosRelacionados::before,
.title--ProductosNotFound::before {
    content: '';
    background-image: url(assets/img/bg-titulos-rosado.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 50px;
    height: 45px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.caretIcon--vitrinaHome {
    padding: .3rem;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    background: #fff;
    border-radius: 50px;
    box-shadow: 1px 1px 3px rgb(51 51 51 / 30%);
}

.title--vitrinaHome {
    margin-left: -5rem;
}

@media (max-width: 991.1px) {
    .container--vitrinaHome {
        display: block !important;
    }

    .title--vitrinaHome { 
        margin-left: -5rem !important;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}