/*PLP*/
.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}   

.homeLink {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.homeLink::before {
    content: "Home";
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.homeIcon {
    display: none !important;
}

.link {
    color: #441e13;
}

.caretIcon{
    overflow: visible!important;
    margin-bottom: 4px;
}