/* Logo */
.flexCol--logoCol {
    display: flex;
    justify-content: center;
}

/* Header */
.flexRow--main-header {
    border-bottom: 1px solid rgb(204 204 204 / 0.4);
    box-shadow: 7px 7px 5px 0 rgba(107, 107, 107, 0.15);
}

.flexCol--wrapperMenuNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--centerBannersRow {
    justify-content: center;
}

.flexCol--colNino {
    border-right: 1px solid #ccc;
}

.flexRowContent--main-header-mobile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(204 204 204 / 0.3);
}

.flexRow--footer-general{
    background: url(assets/img/background-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 5rem;
}
.flexRowContent--row-partner-footer,
.flexColChild--col-partner-footer,
.poweredBy--logo-vtex,
.flexCol--col-partner-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flexCol--col-partner-footer {
    flex-direction: inherit;
}

.flexRow--infoIcons {
    margin: 4rem 10rem;
}

.flexRowContent--infoIcons-mobile {
    display: flex;
    flex-wrap: wrap;
    margin: 2.5rem 0;
}

.flexRowContent--infoIcons-mobile .stretchChildrenWidth {
    width: 50% !important;
    margin: 1rem 0;
}