.link--tituloMenuNino,
.link--tituloMenuNina {
    margin-left: 1.6rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    position: relative;
    color: #3f2016;
}

.link--tituloMenuNino::before,
.link--tituloMenuNina::before {
    content: '';
    width: 60px; 
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    z-index: -1;
}

.link--tituloMenuNino::before {
    background-image: url(assets/img/mancha-nino.png);
}

.link--tituloMenuNina::before {
    background-image: url(assets/img/mancha-nina.png);
}

.wrapper--footer-list {
    height: auto;
    list-style: none;
    text-decoration: none;
}





.headingLevel3--footer-titles {
    font-size: 1.3em;
}

.list--footer-list-face,
.list--footer-list-insta,
.list--footer-list-envio,
.list--footer-list-asistida,
.list--footer-list {
    padding: 0;
}

.link--footer-list-face,
.link--footer-list-insta,
.link--footer-list-envio,
.link--footer-list-asistida,
.link--footer-list {
    padding-left: 0;
    margin: 5px;
    font-size: 1em;
    font-weight: 500;
    position: relative;
    color: #402117;
    text-decoration: none !important;
    list-style-type: none !important;
}

.link--footer-list-face,
.link--footer-list-insta,
.link--footer-list-envio,
.link--footer-list-asistida {
    padding-left: 37px !important;
    display: inline-block;
}

.listItem--footer-list {
    text-decoration: none !important;
    list-style-type: none !important;
}

.listItem--footer-list-face,
.listItem--footer-list-insta,
.listItem--footer-list-envio,
.listItem--footer-list-asistida {
    margin-bottom: 1rem !important;
    text-decoration: none !important;
    list-style-type: none !important;
}


.link--footer-list-face::before,
.link--footer-list-insta::before,
.link--footer-list-envio::before,
.link--footer-list-asistida::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -5px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.link--footer-list-face::before {
    background-image: url(assets/img/rrss-face.png);
}

.link--footer-list-insta::before {
    background-image: url(assets/img/rrss-insta.png);
}

.link--footer-list-envio::before {
    background-image: url(assets/img/truck-footer.png);
}

.link--footer-list-asistida::before {
    background-image: url(assets/img/truck-footer.png);
}


.wrapper--sliderTopBarItem .link {
    display: inline-block;
    background: #3f2016;
    margin-left: .7rem;
    text-decoration: none;
    padding: .2rem .7rem;
    border-radius: 4px;
    color: #fff;
    font-size: .87em;
}

.headingLevel3--footer-titles {
    font-size: 1.3em;
}

.paragraph--text-envio-domicilio,
.paragraph--text-venta-asistida {
    margin: 0;
}




.paragraph--sliderTopBarItem {
    margin: 0;
    display: flex;
}

.paragraph--topBarList-phone,
.paragraph--topBarList-faq,
.paragraph--topBarList-contact,
.paragraph--topBarList-orders,
.paragraph--topBarList-store,
.paragraph--topBarList-wishlist {
    margin: 0;
}

.link--topBarList-phone,
.link--topBarList-faq,
.link--topBarList-contact,
.link--topBarList-orders,
.link--topBarList-store,
.link--topBarList-wishlist {
    margin: 0 1.5rem;
    color: #3f2016;
    font-size: .87em;
    text-decoration: none;
    position: relative;
}

.link--topBarList-wishlist {
    margin-right: 0;
}

.link--topBarList-phone::before,
.link--topBarList-faq::before,
.link--topBarList-contact::before,
.link--topBarList-orders::before,
.link--topBarList-store::before,
.link--topBarList-wishlist::before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 103%;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

}

.link--topBarList-phone::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-phone.png);
}

.link--topBarList-faq::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-faq.png);
}

.link--topBarList-contact::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-contact.png);
}

.link--topBarList-orders::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-box.png);
}

.link--topBarList-store::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-store.png);
}

.link--topBarList-wishlist::before {
    background-image: url(https://pillin.vteximg.com.br/arquivos/topbar-wishlist.png);
}

.link--cp-buttonVerMas {
    background: #3f2016;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
    text-decoration: none;
    font-weight: 800;
    padding: .5rem 3.3rem;
}

.headingLevel3--cp-titleClub {
    position: relative;
    padding-left: 6rem;
    padding-right: 4rem;
}

.headingLevel3--cp-titleClub::before {
    content: '';
    background-image: url(https://pillin.vteximg.com.br/arquivos/logo-cabeza.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 83%;
}

.paragraph--cp-textClub {
    margin-top: 0;
    font-weight: 500;
}


.headingLevel2--main-titles {
    font-size: 1.5em;
    color: #402117;
    font-weight: 800;
    text-align: left;
    justify-content: flex-start;
    position: relative;
    display: inline-block;
    width: auto;
    overflow: visible;
    z-index: 1;
    padding-left: 3.7rem;
}

.headingLevel2--main-titles::before {
    content: '';
    background-image: url(https://pillin.vteximg.com.br/arquivos/bg-titulos.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 85px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.paragraph--texto-seo {
    text-align: center;
    color: #666;
    font-weight: 500;
    line-height: 2;
}

.container--texto-seo {
    padding: 0 4rem;
}