.slide {
    margin: 0 .5rem;
}

.container--vitrinaHome {
    padding-bottom: 0 !important;
}
.title--vitrinaHome,
.title--pdpProductosRelacionados,
.title--ProductosNotFound {
    font-size: 1.5em;
    color: #402117;
    font-weight: 800;
    text-align: left;
    justify-content: flex-start;
    position: relative;
    display: inline-block;
    width: auto;
    overflow: visible;
    z-index: 1;
    padding-left: 3.7rem;
}

.arrow {
    top: 34%;
}

.caretIcon--vitrinaHome {
    width: 16px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    box-shadow: 2px 2px 5px #ccc;
    padding: .3rem;
    box-sizing: border-box;
    border-radius: 50px;
}

.title--vitrinaHome::before,
.title--pdpProductosRelacionados::before,
.title--ProductosNotFound::before {
    content: '';
    background-image: url(assets/img/bg-titulos-rosado.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    width: 85px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}