.biggy-autocomplete-wrapper {
    width: 40vw;
}

.biggy-autocomplete {
    flex-direction: column !important;
    max-height: 100% !important;
}

.tileListList {
    padding: 0;
    display: flex;
    flex-direction: column !important;
}