.imageElement--logoCol {
    width: 130px;
}

.notificationBarInner {
    min-height: 2.5rem;
}

.searchIcon {
    overflow: visible !important;
    width: 15px;
    height: auto;
    fill: #3f2016;
    margin-top: -4px;
}

.flexRow--main-header-mobile .searchIcon {
    width: 12px;
}

.infoCardHeadline--infoCardSearchBy {
    color: #fff;
    font-size: 1rem;
}

.infoCardContainer--infoCardSearchBy .infoCardCallActionContainer--infoCardSearchBy .vtex-button__label {
    text-transform: capitalize !important;
    background-color: #fff !important;
    color: saddlebrown !important;
    margin-top: .5rem;
}

.infoCardTextContainer--infoCardSearchBy .t-action, 
.infoCardTextContainer--infoCardSearchBy .t-action--small {
    text-transform: capitalize !important;
}

.infoCardTextContainer--infoCardSearchBy {
    padding: 6rem 0;
}

.infoCardContainer--infoCardSearchBy {
    border-radius: 10px;
    overflow: hidden;  
} 

.skuSelectorOptionsList {
    margin-left: 0;
}

.searchBarContainer {
    margin-right: 1rem;
}

.skuSelectorTextContainer {
    display: none;
}

.skuSelectorSubcontainer {
    padding: 0;
    margin: 0;
}

.frameAround {
    margin: 0;
}

.skuSelectorItem {
    margin: 0;
    height: auto;
    width: auto;
}

.imageElement--imageMenu {
    margin-top: 2rem;
    padding-top: 0;
    object-fit: contain;
}

@media (max-width: 991px) {
    .searchIcon  {
         width: 12px;
     }

     .imageElement--logoCol {
        width: 95px;
    }
 } 