.productHighlightWrapper--collection {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: -6px;
}

.productHighlightText {
  font-size: 0;
}

.productHighlightWrapper--collection[data-highlight-id="145"] {
  background-image: url(assets/img/flag-led.png);
  width: 90px;
  height: 32px;
}

.productHighlightWrapper--collection[data-highlight-id="144"] {
  background-image: url(assets/img/flag-outlet.png);
  width: 100px;
  height: 50px;
  width: 74px;
  height: 35px;
}

.productHighlightWrapper--collection[data-highlight-id="143"] {
  background-image: url(assets/img/flag-new.png);
  width: 70px;
  height: 35px;
}

.productHighlightWrapper--collection[data-highlight-id="142"] {
  background-image: url(assets/img/flag-cyber.png);
  width: 110px;
  height: 35px;
}