.imageNormal.image {
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.imageContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: fit-content;
    background: #fff;
}

.imageContainer::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.04);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.productBrand.brandName {
    color: #999999;
    text-align: left;
    font-size: 1em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.15em;
    text-transform: capitalize;
}

.productNameContainer.nameWrapper {
    text-align: left;
    padding: .5rem 0 .3rem 0 !important;
}

.nameContainer {
    padding: 0 !important;
    justify-content: left;
}

.priceContainer {
    justify-content: left;
    padding: 0;
    align-items: end;
}

.productPriceClass.price_className {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.price_listPriceLabel,
.price_sellingPriceLabel {
    display: none !important;
}

.price_sellingPrice {
    font-weight: 800;
    color: red;
    font-size: 1em;
    padding-left: 0;
}

.price_listPrice {
    font-weight: 700;
    font-size: .97rem;
    color: #b3b3b3;
    padding-right: .5rem;
}

.skuSelectorContainer {
    flex-flow: column-reverse;
    display: flex;
}

.price_sellingPriceContainer {
    padding: 0;
}

.frameAround {
    margin: 0;
    padding: 0;
}

.skuSelectorInternalBox {
    width: 27px;
    height: 27px; 
    border-radius: 50px;
    border: 1px solid #3f2016; 
}

.skuSelectorItemImage .skuSelectorInternalBox {
    border: 0 !important;
}

.skuSelectorItemTextValue {
    padding: 0;
    font-size: .8em;
}

.frameAround {
    margin: 0 !important;
}

.skuSelectorItemTextValue {
    font-weight: 800; 
}

.skuSelectorItem--rojo,
.skuSelectorItem--naranjo,
.skuSelectorItem--amarillo,
.skuSelectorItem--azul,
.skuSelectorItem--verde,
.skuSelectorItem--morado,
.skuSelectorItem--rosado,
.skuSelectorItem--negro,
.skuSelectorItem--blanco,
.skuSelectorItem--celeste,
.skuSelectorItem--gris,
.skuSelectorItem--cafe,
.skuSelectorItem--multicolor {
    border-radius: 50px;
    margin-right: .3rem !important;
    box-shadow: 1px 1px 4px rgb(51 51 51 / 0.3);
}

.skuSelectorItem--rojo {
    background: red;
}

.skuSelectorItem--naranjo {
    background: orange;
}

.skuSelectorItem--amarillo {
    background: yellow;
}

.skuSelectorItem--azul {
    background: blue;
}

.skuSelectorItem--verde {
    background: green;
}

.skuSelectorItem--morado {
    background: purple;
}

.skuSelectorItem--rosado {
    background: pink;
}

.skuSelectorItem--negro {
    background: black;
}

.skuSelectorItem--blanco { 
    background: white;
}

.skuSelectorItem--celeste {
    background: lightblue;
}

.skuSelectorItem--gris {
    background: gray;
}

.skuSelectorItem--cafe {
    background: brown;
}

.skuSelectorItem--multicolor {
    background: burlywood;
}

.element :global(.vtex-button) { 
    margin-top: .7rem;
}