.imageElement--logoCol {
    width: 130px;
}

.notificationBarInner {
    min-height: 2.5rem;
}

.searchIcon {
    overflow: visible !important;
    width: 15px;
    height: auto;
    fill: #3f2016;
    margin-top: -4px;
}

.flexRow--main-header-mobile .searchIcon {
    width: 12px;
}


.infoCardHeadline--infoCardSearchBy {
    color: #fff;
    font-size: 1rem;
}

.infoCardHeadline--infoCardSearchBy-mobile {
    color: #fff;
    font-size: 1rem;
}

.infoCardCallActionContainer--infoCardSearchBy {
    margin-top: .5rem;
}

.infoCardCallActionContainer--infoCardSearchBy-mobile {
    margin-top: .5rem;
}

.infoCardTextContainer--infoCardSearchBy .t-action,
.infoCardTextContainer--infoCardSearchBy .t-action--small {
    text-transform: capitalize !important;
}

.infoCardTextContainer--infoCardSearchBy {
    padding: 6rem 0;
}

.infoCardTextContainer--infoCardSearchBy-mobile {
    padding: 2rem 1rem;
}

.infoCardContainer--infoCardSearchBy {
    border-radius: 10px;
    overflow: hidden;
}

.infoCardContainer--infoCardSearchBy-mobile {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 1rem;
}

.skuSelectorOptionsList {
    margin-left: 0;
}

.skuSelectorTextContainer {
    display: none;
}

.skuSelectorSubcontainer {
    padding: 0;
    margin: 0;
}

.frameAround {
    margin: 0;
}

.skuSelectorItem {
    margin: 0;
    height: auto;
    width: auto;
}

.imageElement--imageMenu {
    margin-top: 2rem;
    padding-top: 0;
    object-fit: contain;
}

.searchBarContainer {
    padding: .7rem 0;
    margin: 0;
    margin-right: 1.3rem;
}

.imageElement--logo-sr {
    width: 65px;
    margin-right: 1rem;
}

.imageElement--bannerPromoMobile {
    margin-bottom: 1rem;
}

.vtex-input-prefix__group {
    border: 1px solid #ccc !important;
}

.vtex-input__suffix {
    background-color: #f9f9f9;
}

.infoCardTextContainer--infoCardIcons {
    width: 100%;
}

.infoCardContainer--infoCardIcons {
    display: flex;
    flex-direction: column-reverse;
}

.infoCardImageContainer--infoCardIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoCardImage--infoCardIcons {
    width: 75px;
    height: auto;
}

.infoCardHeadline--infoCardIcons {
    font-size: 1.2em;
    margin-top: .7rem;
}

.infoCardSubhead--infoCardIcons {
    margin-top: .3rem;
    font-weight: 500;
    font-size: .95em;
}

.infoCardContainer--infoCardIcons .infoCardCallActionContainer {
    display: none;
}



.infoCardCallActionContainer--infoCardSearchBy-mobile :global(.vtex-button),
.infoCardCallActionContainer--infoCardSearchBy :global(.vtex-button) {
    background-color: #fff;
    border: 1px solid #fff;
    transition: all .5s ease;
}

.infoCardCallActionContainer--infoCardSearchBy-mobile :global(.vtex-button__label),
.infoCardCallActionContainer--infoCardSearchBy :global(.vtex-button__label) {
    font-weight: 800;
    color: #3f2016;
    transition: all .5s ease;
}

.searchBarContainer :global(.vtex-input__suffix) {
    background-color: #f9f9f9;
}

.infoCardTextContainer--infoCardIcons-mobile {
    width: 100%;
}

.infoCardContainer--infoCardIcons-mobile {
    display: flex;
    flex-direction: column-reverse;
}

.infoCardImageContainer--infoCardIcons-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoCardImage--infoCardIcons-mobile {
    width: 75px;
    height: auto;
}

.infoCardHeadline--infoCardIcons-mobile {
    font-size: 1.2em;
    margin-top: .7rem;
}

.infoCardSubhead--infoCardIcons-mobile {
    margin-top: .3rem;
    font-weight: 500;
    font-size: .95em;
}

.infoCardCallActionContainer--infoCardIcons-mobile {
    display: none;
}




@media (max-width: 991px) {
    .searchIcon {
        width: 12px;
    }

    .imageElement--logoCol {
        width: 95px;
    }
}