.biggy-autocomplete-wrapper {
    width: 40vw;
}

.biggy-autocomplete {
    flex-direction: column !important;
    max-height: 90vh;
}

.history-and-top-wrapper,
.tileList {
    padding: 0 2rem;
}

.tileListList {
    padding: 0;
    display: flex;
    flex-direction: column !important;
}

.tileListTitle,
.itemListTitle {
    margin: 0;
    margin-bottom: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
    text-transform: capitalize;
    font-display: "fallback";
}
.itemListLink {
    height: fit-content !important;
    text-transform: capitalize !important;
    line-height: 1 !important;
    font-family: 'Quicksand', sans-serif;
    margin-top: .7rem !important;
    font-display: "fallback";
}
.itemListSubItemLink {
    font-size: 12px;
    font-weight: 700;
    text-transform: capitalize;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 16px;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
    padding: .1rem 30px !important;
    text-transform: capitalize !important;
    height: fit-content !important;
    line-height: 1 !important;
    font-display: "fallback";
}

/*Banner Principal*/
.searchBanner--bannerPrincipal {
    position: relative;
    opacity: .75;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.searchBanner--bannerPromocional {
    width: 65%;
    margin: 0 auto;
    margin-top: 2rem;
}

.itemList--suggestion {
    padding: 0 2rem;
    margin-bottom: 2rem;
}

@media (max-width: 991.1px) {
    .biggy-autocomplete-wrapper {
        width: 90vw;
    }

}