.installments--summary {
    display: none!important;
}

.sellingPriceValue--summary {
    font-weight: 800;
    color: red;
    font-size: .8em;
    padding: .5rem 0 .3rem 0;
    padding-left: 0;
}

.listPriceValue--summary .currencyContainer--summary {
    color: #9a9a9a !important;
    font-size: .85em;
    display: inline-block;
    text-decoration: line-through;
    margin-right: .5rem;
}

.savings--summary {
    background: #ffab71;
    border-radius: 30px;
    padding: 0.5rem;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}