.vtex-add-to-cart-button-0-x-buttonDataContainer.flex.justify-center {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonText {
    position: relative;
    font-size: 12px;
    font-weight: 700;
    color: #fff!important;
    text-transform: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .5;
    background: #402117;
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid #402117;
}

.buttonDataContainer .buttonText {
    opacity: 1;
}


/* .buttonText::before {
    content: 'Indis';
    font-size: 12px;
    font-weight: 700;
    letter-spacing: .04;
    transition: all .5s ease;
} */