.link--tituloMenuNino,
.link--tituloMenuNina {
    margin-left: 1.6rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 800;
    position: relative;
    color: #3f2016;
}

.link--tituloMenuNino::before,
.link--tituloMenuNina::before {
    content: '';
    width: 60px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 7%;
    transform: translateY(-50%);
    z-index: -1;
}

.link--tituloMenuNino::before {
    background-image: url(assets/img/mancha-nino.png);
}

.link--tituloMenuNina::before {
    background-image: url(assets/img/mancha-nina.png);
}

.wrapper--footer-list{
    height: auto;
    list-style: none;
    text-decoration: none;
}
.link--footer-list {
    text-decoration: none;
    color: #3f2016;
    padding-left: 0!important;
}

.wrapper--sliderTopBarItem .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.87em;
    padding: .5rem 0;
    margin: 0;
}

.wrapper--sliderTopBarItem .link {
    display: inline-block;
    background: #3f2016;
    margin-left: .7rem;
    text-decoration: none;
    padding: .2rem .7rem;
    border-radius: 4px;
    color: #fff;
    font-size: .87em;
}

.list--footer-list{
    padding-left: 0;
    margin: 5px;
    list-style: none!important;
}
.listItem--footer-list,
.link--footer-list,
.link--text-envio-domicilio,
.link--text-venta-asistida {
    text-decoration: none;
    color: #3f2016;
}

.paragraph--text-envio-domicilio,
.paragraph--text-venta-asistida {
    margin: 0;
}
