.paperScrollContent,
.paper--modalVestuario,
.paper--modalcalzado,
.paper--modalaccesorios {
    width: 60vw !important;
    padding: 3rem 4rem;
}

.paper--ModalGuiaTallas {
    width: 45vw!important;
}

.paper--ModalStock {
    width: 65%!important;
}

.paper--ModalGuiaTallas {
    width: 45vw !important;
}

.backdrop {
    background: #000 !important;
}

.closeIcon--cerrarBusTalla {
    color: #402117;
}

.closeButton--cerrarBusTalla {
    padding: 0 !important;
}

.headerContainer--cerrarBusTalla {
    border: 0;
}

.triggerContainer--triggerVestuario,
.triggerContainer--triggerCalzado,
.triggerContainer--triggerAccesorios {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.paper--modal-popup {
    padding: 0 !important;
    margin: 0 !important;
    width: 600px !important;
    height: fit-content !important;
}

.closeButtonContainer--popup-header {
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeIcon--popup-header {
    width: 24px;
    color: #300f04;
}

.headerContainer--popup-header {
    border: 0;
}

@media (max-width: 770px) {
    .paperScrollContent,
    .paper--modalVestuario,
    .paper--modalcalzado,
    .paper--modalaccesorios {
        width: 90vw!important;
        padding: 3rem 1rem;
        margin: 0 !important;
    }
    .paper--ModalGuiaTallas {
        padding: 1.8rem .5rem;
        height: 95vh!important;
        width: 99vw!important;
    }
    .paperScrollContent {
        max-height: calc(100% - 2rem);
        overflow: auto;
    }
}