/* Logo */

.flexCol--logoCol {
    display: flex;
    justify-content: center;
}


/* Header */

.flexRow--main-header {
    border-bottom: 1px solid #ccc;
}

.flexCol--wrapperMenuNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--centerBannersRow {
    justify-content: center;
}

.flexCol--colNina {
    padding: 0 2rem;
}

.flexCol--colNino {
    border-right: 1px solid #ccc;
    padding: 0 2rem;
}

.flexColChild--colNina,
.flexColChild--colNino {
    height: auto !important;
    margin-bottom: 2rem;
}

.flexRowContent--main-header-mobile {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(204 204 204 / 0.3);
}

.flexRowContent--rowSeo {
    display: flex;
    flex-direction: column;
    margin: 0 0 3rem 0;
}

.flexRow--footer-general {
    background: url(https://pillin.vteximg.com.br/arquivos/background-footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    padding-top: 8rem;
}

.flexRowContent--rowMainFooter {
    padding: 0 12rem;
}

.flexRowContent--row-partner-footer,
.flexColChild--col-partner-footer,
.poweredBy--logo-vtex,
.flexCol--col-partner-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexCol--col-partner-footer {
    flex-direction: inherit;
}

.flexRowContent--row-partner-footer {
    padding: 1.7rem 0;
    border-top: .7px solid #4021178a;
    margin-top: 2rem;
}

.flexRow--infoIcons {
    margin: 3rem 10rem;
}

.flexRowContent--infoIcons-mobile {
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}

.flexRowContent--infoIcons-mobile .stretchChildrenWidth {
    width: 50% !important;
    margin: 1rem 0;
}

.flexCol--topBar-leftCol,
.flexCol--topBar-rightCol,
.flexColChild--topBar-leftCol,
.flexColChild--topBar-rightCol {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexCol--topBar-rightCol {
    justify-content: flex-end;
}

.flexRow--notification-bar {
    background-color: #ede3ce;
    padding: .4rem;
}

.flexRow--rowHomeShelf {
    margin: 3rem 0 1rem 0;
}

.flexColChild--colSearchTitle {
    max-width: 96rem;
    margin: 0 auto;
    width: 100%;
}

.flexColChild--catColMenuNavEscri {
    height: auto !important;
}

.flexRow--clubPillin {
    margin: 4rem 0;
    padding: 3rem 0 7rem 0;
    background-image: url(https://pillin.vteximg.com.br/arquivos/bg-clubPillin.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexCol--summaryBusquedaNombrePrice {
    justify-content: center;
}

.flexCol--linkListMobile {
    background: #ede3ce;
    margin-top: 3rem;
}

.flexColChild--linkListMobile {
    padding: .3rem 0 .3rem 1.5rem;
    border-top: .7px solid rgb(63 32 22 / 50%);
}

.flexColChild--linkListMobile:first-child {
    border-top: 0;
}

.flexRow--rowDrawer {
    border-bottom: 1px solid rgb(67 36 26 / 0.4);
    width: 100%;
    margin-bottom: 2.5rem;
}

.flexRowContent--rowDrawer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.flexRow--rowDrawer .stretchChildrenWidth {
    width: auto !important;
    justify-content: flex-start;
}

.flexCol--colDrawer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexCol--vestuario-wrapper,
.flexCol--calzado-wrapper,
.flexCol--accesorios-wrapper {
    margin-right: 2rem;
    border-radius: 7px;
    padding: 8rem 2.5rem 7rem 2.5rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flexCol--accesorios-wrapper {
    margin-right: 0;
}

.flexCol--vestuario-wrapper {
    background-image: url(assets/img/BN_Caluga_vestuario.jpg);
}

.flexCol--calzado-wrapper {
    background-image: url(assets/img/BN_Caluga_calzado.jpg);
}

.flexCol--accesorios-wrapper {
    background-image: url(assets/img/BN_Caluga_accesorios.jpg);
}

.flexColChild--summaryBusquedaNombrePrice :global(.vtex-store-components-3-x-priceContainer) {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin: 0;
}

.flexColChild--summaryBusquedaNombrePrice :global(.vtex-store-components-3-x-sellingPriceValue) {
    font-size: 14px;
}

.flexCol--summaryBusquedaNombrePrice .flexColChild--summaryBusquedaNombrePrice:last-child {
    display: none;
}


/*PDP*/

.flexCol--btn-Stock {
    display: none!important;
}

.flexRow--Row-BreadCrumb {
    border-bottom: 1px solid #dddddd;
}

.flexCol--colSimuladorEntrega,
.flexRowContent--Row-BreadCrumb {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: inherit;
}

.flexRowContent--rowQuantityBuy .stretchChildrenWidth {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.flexCol--colAddToCart {
    width: 60%!important;
}

.flexRowContent--rowQuantityBuyDesktop .stretchChildrenWidth:nth-child(2n) {
    justify-content: flex-start!important;
}


/*PLP*/

.flexRow--rowBreadCrumbDesktop {
    border-bottom: 1px solid #dddddd;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.flexRowContent--rowBreadCrumbMobile {
    margin: 5px 0 10px 0;
}


/*Banner y titulo*/

.flexRowContent--rowBannerSearchTitle {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.flexCol--colSearchTitle {
    position: absolute !important;
    left: 0;
    top: 0;
}


/*Búsqueda Vacía*/

.flexRow--BuscaVacia {
    background: url(https://pillin.vteximg.com.br/arquivos/BN_W_BuscaVacia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    opacity: .95;
    padding: 2rem;
}

.flexRowContent--BuscaVacia {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.flexCol--PalabrasClavesVacia {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-flow: row;
    flex-direction: row;
    flex-wrap: wrap;
}

.flexCol--PalabrasClavesVacia {
    display: inline-flex;
    justify-content: flex-start;
}


/*Páginas Institucionales*/

.flexCol--colBannerPrincipal {
    min-height: 15rem;
}

.flexRow--rowBannerInstitucionalTitle,
.flexRow--rowBanner-tcn-Title {
    width: 100vw;
    height: auto;
    display: block;
    position: relative;
    padding: 4rem;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.flexColChild--colBannerPrincipal::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: url(https://pillin.vteximg.com.br/arquivos/BN_W_Categoria_Nino.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 15rem;
    display: block;
    opacity: 0.2;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0% 100%);
}

.flexRow--rowBannerInstitucionalTitle::before {
    content: "";
    background: url(https://pillin.vteximg.com.br/arquivos/BN_W_Categoria_Nino.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.flexRow--rowBanner-tcn-Title::before {
    content: "";
    background: url(https://pillin.vteximg.com.br/arquivos/BN_W_Trabaja-con-Nosotros.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.flexRowContent--rowContenidoInstitucional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRowContent--rowContenidoInstitucional .stretchChildrenWidth {
    width: 80% !important;
}

.flexRowContent--confirmationButtons {
    margin: 0;
    margin-top: 1rem;
}

.flexCol--col-generalInfo {
    background: #f9f9f9;
    padding: 3rem;
    border-radius: 4px;
}

.flexCol--col-resumeInfo {
    margin-left: 5rem;
}

.flexRow--row--wrapperNotices {
    margin-top: 4rem;
}

.flexRowContent--confirmationButtons .flexColChild {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Contacto*/

.flexRow--rowFormulariocliente-pillin,
.flexRow--rowFormularioBeneficiario,
.flexRow--rowFormularioContacto {
    width: 100vw;
    margin-bottom: 0;
    display: block;
    padding: 3rem 0;
    position: relative;
    background: url(https://i.ibb.co/wwHgbLd/BN-W-Contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.flexRow--rowFormulariocliente-pillin {
    background-image: url(assets/img/prueba-imagen.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.flexRow--rowFormularioBeneficiario {
    background-image: url(assets/img/beneficiarios.jpg) !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top right;
}

.flexColChild--colFormulariocliente-pillin,
.flexColChild--colFormularioBeneficiario,
.flexColChild--colFormularioContacto {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px #0000002e;
    padding: 3rem 5rem 4.5rem 5rem;
    z-index: 9;
    margin-left: 2rem;
    width: 500px;
}

.flexColChild--colFormularioBeneficiario {
    height: 100% !important;
}


/*Tiendas*/

.flexRowContent--rowContentTiendas {
    position: relative;
}

.flexColChild--colFormTiendas {
    position: absolute;
    top: 2rem;
    left: 5%;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 20px #0000002e;
    padding: 2rem;
    width: 35%;
    z-index: 9;
}

.flexCol--mapaTiendas {
    height: 60vh;
}

.flexRowContent--searchMobileRow {
    display: flex;
}

.colProductImage {
    position: relative;
}

.flexColChild--filterCol {
    height: auto!important;
}

@media (max-width:768px) {
    .flexRowContent--rowBannerSearchTitle {
        margin-bottom: 0rem;
    }
    .flexRowContent--rowSearchInfo .stretchChildrenWidth {
        border: 1px solid #441e13;
        border-radius: 3px;
        margin: 0 5px;
        height: 45px;
    }
    .filterPopupTitle {
        font-weight: 800;
    }
    .flexColChild--summaryBusquedaNombrePrice {
        height: auto !important;
    }
    .flexRow--row-footer-mobile {
        padding: 0;
    }
    .flexRowContent--rowBanners-mobile {
        display: flex;
    }
    .flexRow--clubPillin-mobile {
        background-image: url(assets/img/bg-clubPillin.jpg);
        margin: 4rem 0;
        padding: 6rem 1rem 7rem 1rem;
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .flexCol--vestuario-wrapper,
    .flexCol--calzado-wrapper,
    .flexCol--accesorios-wrapper {
        margin: .3rem 0;
        padding: 5rem !important;
    }
    .flexColChild--colBannerPrincipal::before {
        background: url(https://pillin.vteximg.com.br/arquivos/BN_W_Categoria_Nino.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .flexColChild--colFormulario,
    .flexColChild--colFormularioBeneficiario,
    .flexColChild--colFormularioContacto {
        position: initial;
        margin: 0 auto;
        width: 85%;
    }
    .flexRow--rowFormularioBeneficiario,
    .flexRow--rowFormularioContacto {
        width: 100vw;
        height: 100vh;
        margin-bottom: 10rem;
        display: block;
        position: relative;
        background: url(https://i.ibb.co/z6ctzNJ/BN-M-Contacto.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

.flexColChild--summaryBusquedaNombrePrice {
    height: auto !important;
}

.flexRow--row-footer-mobile {
    padding: 0;
}

.flexRowContent--rowBanners-mobile {
    display: flex;
}

.flexRow--clubPillin-mobile {
    background-image: url(assets/img/bg-clubPillin.jpg);
    margin: 4rem 0;
    padding: 6rem 1rem 7rem 1rem;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexColChild--btn-GuiaDeTallas {
    position: absolute;
    right: 25px;
    bottom: 60px;
}

.flexCol--btn-GuiaDeTallas {
    position: relative;
}

.flexRow--mantencion-m,
.flexRow--mantencion-d {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

.flexRow--mantencion-m {
    background-image: url(assets/img/mantencion-movil.jpg);
}

.flexRow--mantencion-d {
    background-image: url(assets/img/mantencion-escri.jpg);
}

.flexRowContent--mantencion-m,
.flexRowContent--mantencion-d {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    box-sizing: border-box;
    height: 100vh;
    position: relative;
}

.flexRowContent--busquedaTalla {
    flex-direction: column;
    margin-top: 3rem;
}

.flexRow--minicart-footer {
    box-shadow: none !important;
    border-top: 1px solid #ccc;
}

.flexCol--miniCart-colPrice {
    margin-top: 0;
}

.flexColChild--miniCart-colPrice {
    line-height: .7;
    margin-bottom: .2rem;
}

.flexRowContent--qttyPrice-row {
    align-items: center;
}

.flexRowContent--rowPrices {
    display: flex;
    justify-content: end;
}

.flexCol--colProductImage {
    position: relative;
}


/*Trabaja con Nosotros*/

.flexRowContent--rowFormulariotcn {
    width: 50vw;
    margin: 0 auto;
}

.flexCol--vestuario-wrapper,
.flexCol--calzado-wrapper,
.flexCol--accesorios-wrapper {
    position: relative;
    padding: 10rem;
}

.flexRowContent--titulo-row-insta {
    margin-top: 3rem;
}


/*Popup*/

.flexRow--row-popup :global(.vtex-store-components-3-x-container) {
    padding: 0;
}

.flexCol--colProductImage :global(.vtex-product-highlights-2-x-productHighlightWrapper--collection) {
    position: absolute;
    top: 0;
    left: 25%;
    z-index: 991;
}


/* MEDIA QUERIES */

@media (max-width: 991.1px) {
    .flexRowContent--rowMainFooter {
        padding: 0 2rem;
        flex-direction: column !important;
    }
    .flexRow--footer-general {
        padding-top: 5rem;
        background-image: url(assets/img/bg-footer-movil.png);
    }
    .flexRowContent--rowSeo {
        margin-top: 0;
    }
    .flexCol--colBannersPillin {
        padding: 0;
    }
    .flexRowContent--rowMainFooter .stretchChildrenWidth {
        width: 100% !important;
    }
    .flexRowContent--rowQuantityBuy {
        display: flex;
        justify-content: center;
        align-items: stretch;
        background: white;
        padding: 5px 15px;
        margin-bottom: 0;
        border-top: 1px solid #ffab71;
        border-bottom: 1px solid #ffab71;
    }
    .flexCol--col-generalInfo {
        padding: 1.7rem;
    }
    .flexCol--col-resumeInfo {
        margin-left: 0rem;
        margin-top: 2rem;
    }
    .flexColChild--col-generalInfo {
        padding: .35rem 0;
    }
    .flexCol--colProductQuantity {
        width: 50%;
    }
    .flexCol--colAddToCart {
        width: 100%!important;
    }
    .flexColChild--colFormulariocliente-pillin,
    .flexColChild--colFormularioBeneficiario,
    .flexColChild--colFormularioContacto {
        background: #fff;
        border-radius: 2px;
        box-shadow: 0 0 20px #0000002e;
        padding: 3rem 2rem 3.5rem 3rem;
        z-index: 9;
        margin-left: 2rem;
        width: 85%;
        margin: 0 auto;
    }
    .filterPopupTitle {
        text-align: center;
    }
    .flexRowContent--rowFormulariotcn {
        width: 100%;
    }
    .flexColChild--orderByMobileCol {
        width: 90%;
        margin: 0 auto;
    }
    .flexColChild--btn-GuiaDeTallas {
        position: static;
        padding-bottom: 1.5rem;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1rem;
    }
    .flexRowContent--rowQuantityBuy .stretchChildrenWidth {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
    }
    .flexRowContent--rowQuantityBuy .stretchChildrenWidth:first-child {
        width: 40% !important;
    }
    .flexRowContent--rowQuantityBuy .stretchChildrenWidth:last-child {
        width: 60% !important;
    }
    .flexCol--colAddToCart {
        width: 90% !important;
    }
}