.styledLinkContent {
    font-weight: 800;
    font-size: .95rem;
}

.styledLinkContent--botonDestacadoMenu {
    color: #fff;
    background-color: #ffaa71;
    padding: .5rem 1rem;
    border-radius: 3px;
}

.menuItem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.styledLinkContainer--menuItemSubtitulo {
    margin-right: 1rem;
    margin-left: 1rem;
}

.submenuContainer {
    position: static !important;
}

.submenuWrapper {
    left: 50%;
    transform: translateX(-50%);
    width: 80vw;
    top: 104px !important;
    border-top: 1px solid rgb(204 204 204 / 40%);
    border-radius: 0 0 6px 6px;
    box-shadow: 2px 4px 13px -6px #33333342;
}