.cartIcon {
    overflow: visible !important;
    width: 15px;
    height: auto !important;
    fill: #3F2016 !important;
    margin-top: -6px !important;
}

.openIconContainer {
    padding-left: 0 !important;
}

.overlay--visible {
    background: #000 !important;
}

.minicartCheckoutButton :global(.vtex-button) {
    padding: 1rem;
}

.minicartCheckoutButton :global(.vtex-button__label) {
    position: relative;
    font-size: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::before {
    content: 'Ir al carro';
    font-size: 15px;
    text-transform: initial;
    font-weight: 700;
    color: #ffffff;
}


@media (max-width: 991px) {
    .cartIcon {
        width: 12px !important;
    }
}