.imageNormal.image {
    padding: 3rem 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.imageContainer {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    height: fit-content;
    background: #fff;
}

.imageContainer::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.04);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.productBrand.brandName {
    color: #999999;
    text-align: left;
    font-size: 1.1em;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    white-space: normal;
    -webkit-line-clamp: 1;
    line-height: 1.15em;
    text-transform: capitalize;
}

.productNameContainer.nameWrapper {
    text-align: left;
    padding: .5rem 0 .3rem 0!important;
}

.nameContainer {
    padding: 0!important;
    justify-content: left;
}

.priceContainer {
    justify-content: left;
    padding: 0;
    align-items: end;
}

.productPriceClass.price_className {
    display: flex;
    flex-direction: revert;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.price_listPriceLabel,
.price_sellingPriceLabel {
    display: none !important;
}

.price_sellingPrice {
    font-weight: 800;
    color: red;
    font-size: 1.20rem;
    padding-left: 0;
}

.price_listPrice {
    font-weight: 700;
    font-size: .97rem;
    color: #b3b3b3;
    padding-right: .5rem;
} 

.skuSelectorContainer {
    flex-flow: column-reverse;
    display: flex;
}

.price_sellingPriceContainer {
    padding: 0;
}
.frameAround {
    margin: 0;
    padding: 0;
}

.skuSelectorInternalBox {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.skuSelectorItemTextValue {
    padding: 0;
    font-size: .8rem;
}