.paperScrollContent,
.paper--modalVestuario,
.paper--modalcalzado,
.paper--modalaccesorios {
    width: 60vw!important;
    padding: 3rem 4rem;
}
.paper--ModalGuiaTallas {
    width: 45vw!important;
}
.paper--ModalStock {
    width: 65%!important;
}
.backdrop {
    background: #000 !important;
}