.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    background: #f1f4f5;
}

@media (max-width: 991.1px) {
    .quantitySelectorTitle {
        color: transparent;
    }

    .quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
        width: 50px;
        height: 41px;
        margin-top: -10px;
    }

    .quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button),
    .quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button) {
        width: 30px !important;
        margin-top: -10px;
        height: 41px;
    }
}