/* Logo */
.flexCol--logoCol {
    display: flex;
    justify-content: center;
}

/* Header */
.flexRow--main-header {
    border-bottom: 1px solid rgb(204 204 204 / 0.4);
    box-shadow: 7px 7px 5px 0 rgba(107, 107, 107, 0.15);
}

.flexCol--wrapperMenuNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--centerBannersRow {
    justify-content: center;
}

.flexCol--colNino {
    border-right: 1px solid #ccc;
}