.cartIcon {
    overflow: visible !important;
    width: 15px;
    height: auto !important;
    fill: #3F2016 !important;
    margin-top: -6px !important;
}

.openIconContainer {
    padding-left: 0 !important;
}

.overlay--visible {
    background: #000 !important;
}

@media (max-width: 991px) {
    .cartIcon {
        width: 12px !important;
    }
}